@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Sen:wght@700&display=swap');

* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: "Poppins", sans-serif;
}

a {
   text-decoration: none;
}

.btn {
   display: inline-block;
   min-width: 118px;
   padding: 0 16px;
   line-height: 50px;
   text-align: center;
   font-size: 1.6rem;
   font-weight: 600;
   color: #fff;
   border-radius: 24.5px;
   background: #171100;
}

.main-content {
   width: 1170px;
   max-width: calc(100% - 48px);
   margin-left: auto;
   margin-right: auto;
}

.header.fixed {
   position: sticky;
   top: -28px;
}

.header {
   background: #FFFCF4;
}

.header .body {
   display: flex;
   align-items: center;
   padding: 36px 0 8px;
}

.nav ul {
   display: flex;
}

.nav {
   margin-left: auto;
}

.nav a {
   position: relative;
   color: #5F5B53;;
   font-size: 1.6rem;
   padding: 8px 21px;
   transition: all 0.3s ease;
}

.nav li.active a,
.nav a:hover {
   color: #171100;
   text-shadow: 1px 8 8 currentColor;
}

.nav li.active a::after {
   position: absolute;
   left: 21px;
   bottom: 6px;
   display: block;
   content: "";
   width: 12px;
   height: 2px;
   border-radius: 1px;
   background: #171100;
}

.header .btn-sign-up {
   min-width: 144px;
}

.header .action {
   margin-left: 49px;
}